.App {
  text-align: center;
}

/* Header where navbar is contained */
.App-header {
  background-color: #FF9387;
  height: 80px;
  padding: 20px;
  color: white;
}

/* Game instructions */
.App-intro {
  font-size: large;
}

/* Actual game container */
.Game {
  margin-top: 25px;
}